[Desktop Entry]
Name=Install
Name[ca]=Instal·la 
Name[de]=Installieren
Name[es]=Instalar
Name[fr]=Installation 
Name[hr]=Instaliraj
Name[it]=Installa
Name[ja]=インストール
Name[ms]=Memasang
Name[nb]=Installer
Name[nl]=Installeren
Name[pl]=Instaluj
Name[pt]=Instalar
Name[ru]=Установить
Name[sv]=Installera
Name[tr]=Kur
GenericName=Live Installer
GenericName[ca]=Instal·lador autònom 
GenericName[de]=Live Installer
GenericName[es]=Instalador Live
GenericName[fr]=Programme d'installation
GenericName[hr]=Instaler uživo
GenericName[it]=Live installer
GenericName[ja]=ライブインストーラ
GenericName[ms]=Pemasangan langsung
GenericName[nb]=Live Installer
GenericName[nl]=Installatieprogramma
GenericName[pl]=Instalator live
GenericName[pt]=Instalador em Live
GenericName[ru]=Установщик
GenericName[sv]=Direktinstallerare
GenericName[tr]=Çalışan kurucu
Comment=Install the operating system
Comment[ca]=Instal·la el Sistema Operatiu 
Comment[de]=Installiere das Betriebssystem
Comment[es]=Instalar el sistema operativo
Comment[fr]=Installation du système d'exploitation
Comment[hr]=Instaliraj operativni sustav
Comment[it]=Installa il Sistema Operativo
Comment[ja]=オペレーティングシステムのインストール
Comment[ms]=Memasang sistem operasi
Comment[nb]=Installer operativsystemet
Comment[nl]=Installeer het besturingssysteem
Comment[pl]=Instaluj system operacyjny
Comment[pt]=Instalar o sistema operativo
Comment[sv]=Installera operativsystemet
Comment[tr]=İşletim sistemini kur
Exec=live-installer-3
Icon=/usr/share/live-installer-3/logo.png
Terminal=False
Type=Application
Categories=System;
