Package: live-installer-3
Version: 2016.01.18
Architecture: all
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Installed-Size: 3668
Depends: python3, python3-gi, gir1.2-webkit-3.0, gir1.2-gtk-3.0, python3-parted, parted, gparted, python3-geoip, geoip-database-contrib, python3-pyqt4, python3-pil, streamer, imagemagick, desktop-file-utils, shared-mime-info, sysv-rc, menu, gdisk, isoquery, iso-codes, locales, adduser, rsync, whois, passwd, cryptsetup
Conflicts: live-installer
Replaces: live-installer
Section: admin
Priority: optional
Description: Live Installer
 A live installer
