Package: live-installer-3-slideshow
Source: live-installer-3
Version: 2016.01.19
Architecture: all
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Installed-Size: 319
Depends: live-installer-3
Conflicts: live-installer-3.slideshow
Replaces: live-installer-3.slideshow
Section: admin
Priority: optional
Description: Live Installer Slideshow
 A slideshow for the live installer
